{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <a href="/"><i class="fa fa-home"></i> Accueil</a>
                        <span>Inscription</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="login-form">
                        <h2>Créer un compte</h2>
                        
                        {% for label, messages in app.flashes(['success', 'danger']) %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {{ form_start(form) }}

                            {{ form_row(form.firstname, {'label': 'Firstname', 'attr':{'placeholder': 'Firstname'}}) }}
                            {{ form_row(form.lastname, {'label': 'Lastname', 'attr':{'placeholder': 'Lastname'}}) }}
                            {{ form_row(form.email, {'label': 'Email', 'attr':{'placeholder': 'Email'}}) }}
                            {{ form_row(form.password, {'label': 'Password', 'attr':{'placeholder': 'Password'}}) }}
                            {{ form_row(form.confirmPassword, {'label': 'Confirm Password', 'attr':{'placeholder': 'Confirm Password'}}) }}
                            {{ form_row(form.dateOfBirth, {'label': 'Birthdate', 'attr':{'placeholder': 'Birthdate'}}) }}

                            <button type="submit" class="site-btn login-btn">S'inscrire</button>

                        {{ form_end(form) }}

                        <div class="switch-login">
                            <a href="/login" class="or-login">Ou se connecter</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}