{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="/"><i class="fa fa-home"></i> Accueil</a>
                    <a href="/profile"> Mon compte</a>
                    <span>Mes Adresses</span>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="/profile" class="list-group-item list-group-item-action">Mon compte</a>
              <a href="/profile/orders" class="list-group-item list-group-item-action">Mes Commandes</a>
              <a href="/profile/wishlist" class="list-group-item list-group-item-action">Ma liste de souhaits</a>
              <a href="/profile/address" class="list-group-item list-group-item-action active">Mes Adresses</a>
              <a href="/profile/payments" class="list-group-item list-group-item-action">Moyens de Paiements</a>
          </div>
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Vos adresses</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
		                <div class="col-md-12">
                            {% for label, messages in app.flashes(['success_delete']) %}
                                {% for message in messages %}
                                    <div class="alert alert-success">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {% for address in address_list %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <p>Prénom</p>
                            {{ address.firstname }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>Nom</p>
                            {{ address.lastname }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>Type de logement</p>
                            {{ address.type }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>Code postal</p>
                            {{ address.cp }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>Adresse</p>
                            {{ address.address }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>Ville</p>
                            {{ address.city }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>Numéro d'appartement</p>
                            {{ address.indoors }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>Interphone</p>
                            {{ address.digicode }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>Etage</p>
                            {{ address.floor }}
                        </div>
                        <div class="col-md-6 mb-3">
                            <p>Ascenseur</p>
                            {% if address.elevator == 1 %}
                                <p style="color: black">Ascenseur disponible</p>
                            {% else %}
                                <p style="color: black">Pas d'ascenseur</p>
                            {% endif %}
                        </div>
                    </div>
                    <form method="POST" action="{{ url('remove.address', {id: address.id}) }}" style="display: inline-block" onsubmit="return confirm('Supprimer cette adresse?')">
                        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ address.id) }}">
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                    </form>
                    <hr>
                    {% endfor %}
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Ajouter une adresse</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                            {% for label, messages in app.flashes(['success', 'danger']) %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ label }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                    {{ form_start(address_form) }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.firstname, {'label': 'Firstname', 'attr':{'placeholder': 'Type_ph'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.lastname, {'label': 'Lastname', 'attr':{'placeholder': 'Type_ph'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.type, {'label': 'Type', 'attr':{'placeholder': 'Type_ph'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.address, {'label': 'Address', 'attr':{'placeholder': 'Address_ph'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.cp, {'label': 'Postal Code', 'attr':{'placeholder': 'Postal_ph'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.city, {'label': 'City', 'attr':{'placeholder': 'City_ph'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.indoors, {'label': 'Indoors', 'attr':{'placeholder': 'Indoors_ph'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.digicode, {'label': 'Digicode', 'attr':{'placeholder': 'Digicode_ph'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.floor, {'label': 'Floor', 'attr':{'placeholder': 'Floor_ph'}}) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(address_form.elevator, {'label': 'Elevator', 'attr':{'placeholder': 'Elevator_ph'}}) }}
                        </div>
		            </div>
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button name="submit" type="submit" class="btn btn-primary">Ajouter cette adresse</button>
                        </div>
                    </div>
                     {{ form_end(address_form) }}
		        </div>
		    </div>
        </div>
	</div>
</div>
<br>
{% endblock %}