{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<br>
<div class="container">
	<div class="row">
		<div class="col-md-3 ">
		     <div class="list-group ">
              <a href="/profile" class="list-group-item list-group-item-action active">Mon compte</a>
              <a href="/profile/orders" class="list-group-item list-group-item-action">Mes Commandes</a>
              <a href="/profile/receipts" class="list-group-item list-group-item-action">Mes Factures</a>
              <a href="/profile/address" class="list-group-item list-group-item-action">Mes Adresses</a>
              <a href="/profile/payments" class="list-group-item list-group-item-action">Moyens de Paiements</a>
          </div>
		</div>
		<div class="col-md-9">
		    <div class="card">
		        <div class="card-body">
		            <div class="row">
		                <div class="col-md-12">
		                    <h4>Modifier votre compte</h4>
		                    <hr>
		                </div>
		            </div>
		            <div class="row">
		                <div class="col-md-12">
                    {% for label, messages in app.flashes(['success', 'danger']) %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }}">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endfor %}

                        {{ form_start(form) }}

                            {{ form_row(form.firstname, {'label': 'Firstname', 'attr':{'placeholder': 'Firstname'}}) }}
                            {{ form_row(form.lastname, {'label': 'Lastname', 'attr':{'placeholder': 'Lastname'}}) }}
                            {{ form_row(form.email, {'label': 'Email', 'attr':{'placeholder': 'Email'}}) }}
                            {{ form_row(form.phone, {'label': 'Phone', 'attr':{'placeholder': 'Phone'}}) }}
                            {{ form_row(form.password, {'label': 'Password', 'attr':{'placeholder': 'Password'}}) }}
                            {{ form_row(form.confirmPassword, {'label': 'Confirm Password', 'attr':{'placeholder': 'Confirm Password'}}) }}

                            <div class="form-group row">
                                <div class="offset-4 col-8">
                                  <button name="submit" type="submit" class="btn btn-primary">Mettre à jour</button>
                                </div>
                            </div>

                        {{ form_end(form) }}
		                </div>
		            </div>
		        </div>
		    </div>
    </div>
	</div>
</div>
<br>
{% endblock %}