<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Momoprix, votre supermarché du coin">
        <meta name="keywords" content="momoprix, supermarché, épicerie">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Momoprix - {% block title %}{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="/css/themify-icons.css" type="text/css">
        <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
        <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
        <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
        <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
        <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
        <link rel="stylesheet" href="/css/style.css" type="text/css">
        
    </head>

    <body>
        <div id="preloder">
            <div class="loader"></div>
        </div>
        <header class="header-section">
            <div class="header-top">
                <div class="container">
                    <div class="ht-left">
                        <div class="mail-service">
                            <i class=" fa fa-envelope"></i>
                            contact@momoprix.fr
                        </div>
                        <div class="phone-service">
                            <i class=" fa fa-phone"></i>
                            01.02.03.04.05
                        </div>
                    </div>
                    <div class="ht-right">
                    {% if app.user %}
                        <a href="{{ path('logout') }}" class="login-panel"><i class="fa fa-user"></i>Se déconnecter</a>
                    {% else %}
                        <a href="/register" class="login-panel"><i class="fa fa-user"></i>Créer un compte</a>
                        <a href="/login" class="login-panel"><i class="fa fa-user"></i>Se connecter</a>
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="inner-header">
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                            <div class="logo">
                                <a href="/">
                                    <img src="/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="advanced-search">
                                <button type="button" class="category-btn">Les rayons</button>
                                <div class="input-group">
                                    <input type="text" placeholder="De quoi avez vous besoin?">
                                    <button type="button"><i class="ti-search"></i></button>
                                </div>
                            </div>
                        </div>
                        {% if items is defined %}
                        <div class="col-lg-3 text-right col-md-3">
                            <ul class="nav-right">
                                <li class="heart-icon">
                                    <a href="#">
                                        <i class="icon_heart_alt"></i>
                                        <span>2</span>
                                    </a>
                                </li>
                                <li class="cart-icon">
                                
                                {% if items | length > 1  %}

                                {% set itemsquantity = 0 %}

                                {% for item in items %}
                                    {% set itemsquantity = itemsquantity + (1*item.quantity) %}
                                {% endfor %}
                                    <a href="{{ path('cart_index') }}">
                                        <i class="icon_bag_alt"></i>
                                        <span>{{ itemsquantity }}</span>
                                    </a>
                                        <div class="cart-hover">
                                            <div class="select-items">
                                                <table>
                                                    <thead>
                                                        {% for item in items %}
                                                            <tr>
                                                                <td class="si-pic">
                                                                    <a href="{{ path('product.show', {id: item.product[0].id, slug: item.product[0].slug }) }}">
                                                                        <img src="/img/products/{{ item.product[0].imageUrl }}" alt="">
                                                                    </a>
                                                                </td>
                                                                <td class="si-text">
                                                                    <div class="product-selected">
                                                                        <p>{{ item.product[0].price }} € x {{ item.quantity}}</p>
                                                                        <a href="{{ path('product.show', {id: item.product[0].id, slug: item.product[0].slug }) }}">
                                                                            <h6>{{ item.product[0].name }}</h6>
                                                                        </a>
                                                                    </div>
                                                                </td>
                                                                <td class="si-close">
                                                                    <a href="{{ path('cart_remove', {'id': item.product[0].id}) }}">
                                                                        <i class="ti-close"></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </thead>
                                                </table>
                                            </div>
                                            <div class="select-total">
                                                <span>total:</span>
                                                <h5>{{ total }} €</h5>
                                            </div>
                                            <div class="select-button">
                                                <a href="{{ path('cart_index') }}" class="primary-btn view-card">VOIR LE PANIER</a>
                                                <a href="#" class="primary-btn checkout-btn">COMMANDER</a>
                                            </div>
                                        </div>
                                </li>
                                <li class="cart-price">{{ total }} €</li>
                                    {% else %}
                                    <a href="{{ path('cart_index') }}">
                                        <i class="icon_bag_alt"></i>
                                        <span>0</span>
                                    </a>
                                        <div class="cart-hover">
                                            <div class="select-items">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td class="si-text">
                                                                <div class="product-selected">
                                                                    <h6>Surprise, c'est vide ! </h6>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="select-total">
                                                <span>total:</span>
                                                <h5>0.00 €</h5>
                                            </div>
                                            <div class="select-button">
                                                <a href="{{ path('cart_index') }}" class="primary-btn view-card">VOIR LE PANIER</a>
                                            </div>
                                        </div>
                                </li>
                                <li class="cart-price">0.00 €</li>
                                {% endif %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nav-item">
                <div class="container">
                    <div class="nav-depart">
                        <div class="depart-btn">
                            <i class="ti-menu"></i>
                            <span>Tout les rayons</span>
                            <ul class="depart-hover">
                            {% block categories_list %}{% endblock %}
                                
                            </ul>
                        </div>
                    </div>
                    <nav class="nav-menu mobile-menu">
                        <ul>
                            <li class="{% if current_menu is defined and current_menu == 'home' %}active{% endif %}"><a href="/">Accueil</a></li>
                            <li class="{% if current_menu is defined and current_menu == 'shop' %}active{% endif %}"><a href="/courses-en-ligne">Produits</a></li>
                        </ul>
                    </nav>
                    <div id="mobile-menu-wrap"></div>
                </div>
            </div>
        </header>

            {% block body %}{% endblock %}

        <footer class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer-left">
                            <div class="footer-logo">
                                <a href="#"><img src="/img/logo.png" alt=""></a>
                            </div>
                            <ul>
                                <li>Adresse: 39 Rue Aristide Briand 92300 Levallois-Perret</li>
                                <li>Téléphone: +33 01.02.03.04.05</li>
                                <li>Email: contact@momoprix.fr</li>
                            </ul>
                            
                        </div>
                    </div>
                    <div class="col-lg-2 offset-lg-1">
                        <div class="footer-widget">
                            <h5>Information</h5>
                            <ul>
                                <li><a href="#">A propos</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="footer-widget">
                            <h5>Mon compte</h5>
                            <ul>
                                <li><a href="#">Mon compte</a></li>
                                <li><a href="#">Panier</a></li>
                                <li><a href="/rayons">Courses</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="newslatter-item">
                            <h5>Rejoignez notre newsletter maintenant</h5>
                            <p>Recevez des mises à jour par e-mail sur nos derniers articles et offres spéciales.</p>
                            <form action="#" class="subscribe-form">
                                <input type="text" placeholder="Entrer votre email">
                                <button type="button">S'inscrire</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-reserved">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-text">
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> 
                                All rights reserved | This template is made with 
                                <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            </div>
                            <div class="payment-pic">
                                <img src="/img/payment-method.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery.dd.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    {% block javascripts %}{% endblock %}
</html>
