{% extends 'base.html.twig' %}

{% block title %}categories{% endblock %}
{% block menu_active_2 %}active{% endblock %}

{% block categories_list %}
    {% for product in products|sort %}
    <li><a href="#">{{ product.Category }}</a></li>
    {% endfor %}
{% endblock %}

{% block body %}

<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Accueil</a>
                    <span>Rayons</span>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="product-shop spad">
    <div class="container">
        <form method="post" id="search_form">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                    <div class="filter-widget">
                        <h4 class="fw-title">Rayons</h4>
                        <ul class="filter-catagories">
                             {% for product in products|sort %}
                                <li id="category_list">{{ product.Category }}<a href="#"></a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <script>
                        function() {
                        var xmlhttp = new XMLHttpRequest();
                        xmlhttp.onreadystatechange = function() {
                            if (this.readyState == 4 && this.status == 200) {
                            myFunction(this);
                            }
                        };
                        xmlhttp.open("GET", $products, true);
                        xmlhttp.send();
                        }
                        function myFunction(xml) {
                        var i;
                        var xmlDoc = xml.responseXML;
                        var table="<li><a href="#">Aucune catégorie trouvé</a></li>";
                        var x = xmlDoc.getElementsByTagName("category_list");
                        for (i = 0; i <x.length; i++) { 
                            table += "<li><a href="#">" +
                            x[i].getElementsByTagName("Category")[0].childNodes[0].nodeValue +
                            "</a></li>";
                        }
                        document.getElementById("category_list").innerHTML = table;
                        }
                    </script>



                    <div class="filter-widget">
                        <h4 class="fw-title">Prix</h4>
                        <div class="filter-range-wrap">
                            <div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                data-min="1" data-max="50">
                                <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                            </div>
                        </div>
                        <a href="#" class="filter-btn">Filtrer</a>
                    </div>
                </div>
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="product-show-option">
                        <div class="row">
                            <div class="col-lg-7 col-md-7">
                                <div class="select-option">
                                    <select class="sorting">
                                        <option value="">Tri par défaut</option>
                                    </select>
                                    <select class="p-show">
                                        <option value="">Montrer:</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 text-right">
                                <p>01 - 09 Produits affichés</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-list">
                        <div class="row">
                        {% for product in products %}
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        <img src="/img/products/{{ product.Image }}" alt="">
                                        <div class="icon">
                                            <i class="icon_heart_alt"></i>
                                        </div>
                                        <ul>
                                            <li class="w-icon active"><a href="#"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="#">Voir</a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">{{ product.Category }}</div>
                                        <a href="#">
                                            <h5>{{ product.Name }}</h5>
                                        </a>
                                        <div class="product-price">
                                            {{ product.Price }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                    <div class="loading-more">
                        <i class="icon_loading"></i>
                        <a href="#">
                            Loading More
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>

<script>
$(document).ready(function(){

    filter_data();

    function filter_data()
    {
        $('.filter_data').html('<div id="loading" style="" ></div>');
        var action = 'fetch_data';
        var minimum_price = $('#hidden_minimum_price').val();
        var maximum_price = $('#hidden_maximum_price').val();
        var brand = get_filter('brand');
        var ram = get_filter('ram');
        var storage = get_filter('storage');
        $.ajax({
            url:"fetch_data.php",
            method:"POST",
            data:{action:action, minimum_price:minimum_price, maximum_price:maximum_price, brand:brand, ram:ram, storage:storage},
            success:function(data){
                $('.filter_data').html(data);
            }
        });
    }

    function get_filter(class_name)
    {
        var filter = [];
        $('.'+class_name+':checked').each(function(){
            filter.push($(this).val());
        });
        return filter;
    }

    $('.common_selector').click(function(){
        filter_data();
    });

    $('#price_range').slider({
        range:true,
        min:1000,
        max:65000,
        values:[1000, 65000],
        step:500,
        stop:function(event, ui)
        {
            $('#price_show').html(ui.values[0] + ' - ' + ui.values[1]);
            $('#hidden_minimum_price').val(ui.values[0]);
            $('#hidden_maximum_price').val(ui.values[1]);
            filter_data();
        }
    });

});
</script>

{% endblock %}
